body {
    background-color: gray;
}
  
img {
    display: block;
}
  
#image {
    max-width: 100%;
}

#titlu, #tribute-info {
    text-align: center;
}

#titlu {
    font-size: 50px;
}

#tribute-info {
    font-size: 40px;
    font-style: oblique;
    text-decoration: underline;
}

#img-caption {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

ul {
    margin-left: 70px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 30px;
}

li {
    padding-bottom: 10px;
    font-size: 20px;
    color:aqua;
    margin: 0;
}

span {
    display: flex;
    justify-content: center;
}

.text {
    display: none;
    text-align: center;
    margin: auto;
}

span:hover + .text{
    display: block;
    color: gold;
    background-color: rgb(205, 6, 245);
}

span {
    display: flex;
    position: relative;
    padding-bottom: 30px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    color:rgb(205, 6, 245);
    background-color: black;
}

.tribute-link {
    display: block;
    text-align: center;
}